<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>InfoTeleRobot</title>
</head>
    <body>
        <h1>Tele Robot</h1>
            <p>El producto Tele Robot, es un proyecto realizado
                por el grupo NEXUS, con la finalidad de fomentar
                la limpieza, <br>ya que este producto la vuelve mas sencilla
                y entretenida</p><br>
        <hr><br>
            <h2>Aplicacion</h2>
        <p>Para el funcionamiento del Tele Robot, se usara una aplicacion
            que nos permita controlar el robot y nos dara informacion sobre el<br>
            entorno en el que se encuentra el mismo, como por ejemplo:</p>
        <ul>
            <li>Distancia a la que se encuentra un objeto</li>
            <li>Visualizacion de un objeto por medio de una camara</li>
            <li>Estado de la bateria</li>
            <li>Peso de los objetos recogidos</li>
        </ul>

</body>
</html>